.c-logos {
  padding-left: 60px;
  padding-right: 60px;
  height: 226px;
  background-color: rgba(#000000, 0.1);
  @include media-breakpoint-down(sm) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.swiper-wrapper {
  .c-logos & {
    align-items: center;
  }
}

.swiper-slide {
  .c-logos & {
    text-align: center;
  }
}

.c-logos__logo {
  text-align: center;
  img {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
  }
}