.c-stones {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  z-index: 100;
}

.c-stones--left {
  left:0;
}

.c-stones--right {
  right: 0;
}

.c-stones__item {
  position: absolute;
  overflow: hidden;
  img {
    position: relative;
  }
}

.c-stones__item--big {
}

.c-stones__item--medium {

}

.c-stones__item--small {

}

.c-stones__item--left {

}