.c-stones {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  z-index: 100;
}

.c-stones--left {
  left:0;
  @include media-breakpoint-up(xxl) {
    left: 50%;
    margin-left: - $container-width / 2;
  }
}

.c-stones--right {
  right: 0;
  @include media-breakpoint-up(xxl) {
    right: 50%;
    margin-right: - $container-width / 2;
  }
}

.c-stones__item {
  position: absolute;
  overflow: hidden;
  //background-color: red;
  img {
    position: relative;
  }
}

.c-stones__item--big {
}

.c-stones__item--medium {

}

.c-stones__item--small {

}

.c-stones__item--left {

}