.c-stones {

}

.c-stones--left {
}

.c-stones--right {
  right: 0;
  @include media-breakpoint-up(xxl) {
    right: 50%;
    margin-right: - $container-width / 2;
  }
}

.c-stones__item {
  position: absolute;
  z-index: 100;
  //background-color: red;
  img {
    position: relative;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.c-stones__item-wrapper {
  position: absolute;
  top: 0;
  overflow: hidden;
  .c-stones__item--left & {
    left: 0;
  }
  .c-stones__item--right & {
    right: 0;
  }
}

.c-stones__item--big {
}

.c-stones__item--medium {

}

.c-stones__item--small {

}

.c-stones__item--left {

  left:0;
  @include media-breakpoint-up(xxl) {
    left: 50%;
    margin-left: - $container-width / 2;
  }
}
.c-stones__item--right {

  right:0;
  @include media-breakpoint-up(xxl) {
    right: 50%;
    margin-right: - $container-width / 2;
  }
}