.c-topbar {
  position: absolute;
  width: 100%;
  z-index: 10;
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
    @include media-breakpoint-up(md) {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

.c-topbar__row {
  height: 60px;
  align-items: center;
  @include media-breakpoint-up(md) {
    height: 125px;
  }
}

.c-topbar__logo {
  @include media-breakpoint-down(xs) {
    img {
      width: 150px;
    }
  }
}