.c-topbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  .container-fluid {
    padding: 0;
  }
}
.c-topbar__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(#212121,0);
  @media (orientation: landscape) {
    padding-left: 60px;
    padding-right: 60px;
    @include media-breakpoint-down(sm) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  transition: background-color 0.25s ease-in-out;
  .scrolled & {

    background-color: rgba(#212121,1);
  }
}

.c-topbar__row {
  height: 66px;
  align-items: center;
  @media (orientation: landscape) {
    @include media-breakpoint-up(md){

      height: 125px;
    }

  }

}

.c-topbar__logo {
  @media (orientation: portrait) {
    @include media-breakpoint-down(sm) {

      img {
        width: 138px;
      }
    }
  }
}


@keyframes topbarAnimation {
  from {transform: translateY(-100%);}
  to {transform: translateY(0)}
}