.c-topbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  .container-fluid {
    background-color: rgba(#212121,0);
    transition: background-color 0.25s ease-in-out;
    padding-left: 20px;
    padding-right: 20px;
    @include media-breakpoint-up(md) {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

.c-topbar__row {
  height: 66px;
  align-items: center;
  @include media-breakpoint-up(lg) {
    height: 125px;
  }
}

.c-topbar__logo {
  @include media-breakpoint-down(md) {
    img {
      width: 138px;
    }
  }
}

.c-topbar--push {
  .container-fluid {

    background-color: rgba(#212121,1);
  }
}

@keyframes topbarAnimation {
  from {transform: translateY(-100%);}
  to {transform: translateY(0)}
}