main {
  @extend .pt-section;
  position: relative;
  z-index: 2;
  @include media-breakpoint-down(md) {
    padding-top: 20px !important;
  }
}

.page__background {
  background-image: url('../img/bg-main.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  margin-top:-2px;
  position: relative;
  z-index: 999;
  @include media-breakpoint-down(md) {
    -webkit-background-size: cover;
    background-size: cover;
  }
}