.o-section {
  @extend .py-section;
  @include media-breakpoint-down(md) {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
}

.o-section-stop {

  max-width: $section-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.o-section--columns {
  @include media-breakpoint-down(sm) {

    > div + div {
      margin-top: 25px;
    }
  }
}